<p>{{ localize 'dtalign.dialogmessage' }}.</p>
  <form>
  	<table>
  		<tr>
  			<td><button class="horz-spacing" title="{{ localize 'dtalign.horzdistribute' }}"><i class="fa-regular fa-distribute-spacing-horizontal"></i></button></td>
  			<td><button class="vert-spacing" title="{{ localize 'dtalign.vertdistribute' }}"><i class="fa-regular fa-distribute-spacing-vertical"></i></button></td>
  			<td><button class="">&nbsp</button></td>
  		</tr>
  		<tr>
  			<td><button class="horz-left" title="{{ localize 'dtalign.horzalignleft' }}"><i class="fa-regular fa-objects-align-left"></i></button></td>
  			<td><button class="horz-center" title="{{ localize 'dtalign.horzaligncenter' }}"><i class="fa-regular fa-objects-align-center-horizontal"></i></button></td>
  			<td><button class="horz-right" title="{{ localize 'dtalign.horzalignright' }}"><i class="fa-regular fa-objects-align-right"></i> </button></td>
  		</tr>
  		<tr>
  			<td><button class="vert-top" title="{{ localize 'dtalign.vertaligntop' }}"><i class="fa-regular fa-objects-align-top"></i></button></td>
  			<td><button class="vert-center" title="{{ localize 'dtalign.vertaligncenter' }}"><i class="fa-regular fa-objects-align-center-vertical"></i></button></td>
  			<td><button class="vert-bottom" title="{{ localize 'dtalign.vertalignbottom' }}"><i class="fa-regular fa-objects-align-bottom"></i></button></td>
  		</tr>
  		<tr>
  			<td><button class="a-circle" title="{{ localize 'dtalign.circle' }}"><i class="fa-regular fa-circle"></i></button></td>
  			<td><button class="a-grid" title="{{ localize 'dtalign.grid' }}"><i class="fa-regular fa-grid"></i></button></td>
  			<td><button class="" title="">&nbsp</button></td>
  			
  		</td>
  	</table>
  </form>
