<div>
  <p>{{ localize 'dtalign.dialogmessage' }}.</p>
  <table>
    <tr>
      <td><button data-action="horzSpacing" title="{{ localize 'dtalign.horzdistribute' }}"><i class="fa-regular fa-distribute-spacing-horizontal"></i></button></td>
      <td><button data-action="vertSpacing" title="{{ localize 'dtalign.vertdistribute' }}"><i class="fa-regular fa-distribute-spacing-vertical"></i></button></td>
      <td><button>&nbsp</button></td>
    </tr>
    <tr>
      <td><button data-action="horzLeft" title="{{ localize 'dtalign.horzalignleft' }}"><i class="fa-regular fa-objects-align-left"></i></button></td>
      <td><button data-action="horzCenter" title="{{ localize 'dtalign.horzaligncenter' }}"><i class="fa-regular fa-objects-align-center-horizontal"></i></button></td>
      <td><button data-action="horzRight" title="{{ localize 'dtalign.horzalignright' }}"><i class="fa-regular fa-objects-align-right"></i></button></td>
    </tr>
    <tr>
      <td><button data-action="vertTop" title="{{ localize 'dtalign.vertaligntop' }}"><i class="fa-regular fa-objects-align-top"></i></button></td>
      <td><button data-action="vertCenter" title="{{ localize 'dtalign.vertaligncenter' }}"><i class="fa-regular fa-objects-align-center-vertical"></i></button></td>
      <td><button data-action="vertBottom" title="{{ localize 'dtalign.vertalignbottom' }}"><i class="fa-regular fa-objects-align-bottom"></i></button></td>
    </tr>
    <tr>
      <td><button data-action="makeCircle" title="{{ localize 'dtalign.circle' }}"><i class="fa-regular fa-circle"></i></button></td>
      <td><button data-action="makeGrid" title="{{ localize 'dtalign.grid' }}"><i class="fa-regular fa-grid"></i></button></td>
      <td><button>&nbsp</button></td>
    </tr>
  </table>
</div>
